<div class="dropdown">
  <a class="bottom-line" href="/items/new">New Item</a>
  <a class="bottom-line" href="/categories/new">New Category</a>
  <a class="bottom-line" href="/types/new">New Type</a>
  <a class="bottom-line" href="/manufacturers/new">New Manufacturer</a>
</div>
