<header class="header">
  <div class="header-section">
    <a class="header-btn bottom-line" href="/">
      <img class="svg" src="/images/homepage.svg" alt="logo of homepage" />
      Home
    </a>
  </div>
  <div class="header-section">
    <a class="header-btn bottom-line" href="/items">
      <img class="svg" src="/images/items.svg" alt="logo of items" />
      Items
    </a>
  </div>
  <div class="header-section">
    <a class="header-btn bottom-line" href="/categories">
      <img class="svg" src="/images/categories.svg" alt="logo of categories" />
      Categories
    </a>
  </div>
  <div class="header-section">
    <a class="header-btn bottom-line" href="/types">
      <img class="svg" src="/images/types.svg" alt="logo of types" />
      Types
    </a>
  </div>
  <div class="header-section">
    <a class="header-btn bottom-line" href="/manufacturers">
      <img
        class="svg"
        src="/images/manufacturers.svg"
        alt="logo of manufacturers"
      />
      Manufacturers
    </a>
  </div>
  <div class="header-section add bottom-line">
    <img class="svg" src="/images/add.svg" alt="logo of add svg" />
    <p class="header-text">Add</p>
    <%- include('dropdown') %>
  </div>
</header>
