<header class="header">
  <div class="header-btn">
    <a href="/">
      <img class="svg" src="/images/homepage.svg" alt="logo of homepage" />
    </a>
    <p class="header-text"><a href="/">Home</a></p>
  </div>
  <div class="header-btn">
    <a href="/items">
      <img class="svg" src="/images/items.svg" alt="logo of items" />
    </a>
    <p class="header-text"><a href="/items">Items</a></p>
  </div>
  <div class="header-btn">
    <a href="/categories">
      <img class="svg" src="/images/categories.svg" alt="logo of categories" />
    </a>
    <p class="header-text"><a href="/categories">Categories</a></p>
  </div>
  <div class="header-btn">
    <a href="/types">
      <img class="svg" src="/images/types.svg" alt="logo of types" />
    </a>
    <p class="header-text"><a href="/types">Types</a></p>
  </div>
  <div class="header-btn">
    <a href="/manufacturers">
      <img
        class="svg"
        src="/images/manufacturers.svg"
        alt="logo of manufacturers"
      />
    </a>
    <p class="header-text"><a href="/manufacturers">Manufacturers</a></p>
  </div>
  <div class="header-btn add">
    <img class="svg" src="/images/add.svg" alt="logo of add svg" />
    <p class="header-text">Add</p>
    <%- include('dropdown') %>
  </div>
</header>
