<main class="main">
  <div class="inventory-box">
    <h1 class="heading">Drone Inventory</h1>
    <p class="homepage-text">
      Welcome to Drone Inventory, your go-to source for tracking and managing
      all your drone-related equipment with ease and efficiency.
    </p>

    <a class="explore" href="/categories"> Explore Categories </a>
  </div>
</main>
