<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories list</title>
  </head>
  <body>
    <ul>
      <% categories.forEach((category) => { %>
      <li class="category">
        <h1>Category: <%= categories.name %></h1>
        <h2><%= categories.description %></h2>
        <img
          src="`${categores.image_url}`"
          alt="`image"
          of
          ${categories.name}`
        />
      </li>
      <% }) %>
    </ul>
  </body>
</html>
