<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/<%= path %>/<%= entity.id %>/delete" method="post">
      <%- include('partials/password') %> <% if (errors) { %>
      <div class="errors">
        <% errors.forEach(error => { %>
        <p><%= error.msg %></p>
        <% }) %>
      </div>
      <% } %>
      <button type="submit">Delete item</button>
    </form>
  </body>
</html>
