<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Inventory Homepage</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %> <%- include('partials/homepage') %>
    </div>
    <script src="/javascript/dropdown.js" defer></script>
  </body>
</html>
