<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items List</title>
  </head>
  <body>
    <ul>
      <% items.forEach((item) => { %>
      <li class="item">
        <h1>Item: <%= item.name %></h1>
        <h2><%= item.price %></h2>
        <p><%= item.description %></p>
        <h2><%= item.stock_quantity %></h2>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
