<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Type</title>
  </head>
  <body>
    <form action="/manufacturers/<%= manufacturer.id %>/edit" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= manufacturer.name %>"
        required
      />

      <label for="country">Country:</label>
      <input
        id="country"
        name="country"
        value="<%= manufacturer.country %>"
        required
      />

      <label for="image_url">Image URL:</label>
      <input
        type="text"
        id="image_url"
        name="image_url"
        value="<%= manufacturer.image_url %>"
        required
      />

      <button type="submit">Update Manufacturer</button>
    </form>
  </body>
</html>
