html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Roboto", "sans-serif";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --header-background-color: #18181b;
  --button-background-color: #18181b;
  --main-font-color: #ffffff;
  --alternative-font-color: #000000;
  --valid-input-color: #6bc51c;
  --input-border-color: #92dce5;
  --input-background-color: #f5f5f5;
  --submit-button-background-color: #d0d0d0;
  --delete-button-background-color: #c1121f;
  --update-button-background-color: #0077b6;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

.img {
  width: 24rem;
  height: 15rem;
}

.svg {
  width: 2rem;
}

.delete,
.update {
  color: var(--main-font-color);
  font-weight: bold;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 12px;
  font-weight: bold;
}

.update {
  background-color: var(--update-button-background-color);
}

.delete {
  background-color: var(--delete-button-background-color);
}

.list-btn {
  font-weight: bold;
}

.add {
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
}

.items-for {
  background-color: var(--main-font-color);
  color: var(--alternative-font-color);
  padding: 2rem;
  border-radius: 12px;
  font-size: 1.7rem;
}

.list-btn {
  background-color: var(--valid-input-color);
  color: var(--main-font-color);
  padding: 1.2rem;
  border-radius: 12px;
  margin-top: 1.5rem;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background: url(../images/background.webp);
  background-size: cover;
}

.header {
  display: flex;
  background-color: var(--header-background-color);
  gap: 10px;
  box-shadow: 9px 13px 25px 4px rgba(0, 0, 0, 0.55);
  z-index: 1;
  animation-name: appearing;
  animation-duration: 0.6s;
}

@keyframes appearing {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.header-btn {
  display: flex;
  align-items: center;
  color: var(--main-font-color);
  position: relative;
}

.description {
  font-size: 1.2rem;
  font-weight: bold;
}

.dropdown {
  position: absolute;
  display: none;
  background-color: rgba(46, 46, 46, 0.95);
  border-radius: 12px;
  animation-name: slidein;
  animation-duration: 0.3s;
}

@keyframes slidein {
  from {
    transform: translateY(-40px);
    opacity: 0.3;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  display: block;
}

.dropdown a {
  display: block;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.svg {
  width: 2.5rem;
}

.inventory-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  border-radius: 12px;
  background-color: rgba(46, 46, 46, 0.8);
  color: var(--main-font-color);
  width: 90%;
  animation-name: slidein;
  animation-duration: 0.3s;
}

.homepage-text {
  padding: 1.5rem;
  font-size: 1.2rem;
}

.explore {
  text-decoration: none;
  border: 0;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--button-background-color);
  color: var(--main-font-color);
  padding: 0.75rem 1rem;
}

.list-main {
  background: url(../images/list-background.jpg);
  background-size: cover;
  color: var(--main-font-color);
}

.generic-label {
  font-size: 1.7rem;
}

.heading {
  font-size: 1.7rem;
}

.add-generic-form {
  display: flex;
  flex-direction: column;
  background-color: var(--main-font-color);
  padding: 3rem;
  border-radius: 12px;
}

.add-input {
  font-size: 1.3rem;
  border: 2px solid var(--input-border-color);
  border-radius: 6px;
  outline: none;
  background-color: var(--input-background-color);
  color: var(--alternative-font-color);
}

.add-input {
  font-size: 1.3rem;
  border: 2px solid var(--input-border-color);
  border-radius: 6px;
  outline: none;
  background-color: var(--input-background-color);
  color: var(--alternative-font-color);
}

.add-input:valid {
  border: 2px solid var(--valid-input-color);
}

.submit-btn {
  border: 0;
  border-radius: 9px;
  margin-top: 1.5rem;
  padding: 1.2rem;
  font-size: 1.3rem;
  color: var(--alternative-font-color);
  background-color: var(--submit-button-background-color);
}

.select {
  margin-bottom: 1.5rem;
}

.errors {
  color: var(--delete-button-background-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 46, 46, 0.8);
  color: var(--main-font-color);
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 0.6rem;
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--header-background-color);
    padding: 0.5rem 0 0.5rem;
    gap: 5px;
  }

  .header-section {
    color: var(--main-font-color);
    font-size: 1rem;
    text-align: center;
  }

  .header-btn {
    flex-direction: column;
  }

  .add {
    cursor: pointer;
    position: relative;
  }

  .dropdown {
    top: 80px;
    right: 10px;
    padding: 1rem;
    color: var(--main-font-color);
  }

  .inventory-box {
    padding: 2rem;
  }

  .homepage-text {
    padding: 1rem;
  }

  .explore {
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--button-background-color);
    color: var(--main-font-color);
    padding: 0.5rem;
  }

  .form-main,
  .list-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    color: var(--alternative-font-color);
    background: url(../images/list-background.jpg);
  }

  .generic-label {
    font-size: 1.5rem;
  }

  .add-generic-form {
    padding: 2rem;
  }

  .add-input {
    font-size: 1.2rem;
  }

  .submit-btn {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .select {
    margin-bottom: 1rem;
  }

  .list {
    justify-items: center;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba(46, 46, 46, 0.8);
    color: var(--main-font-color);
    width: 90%;
    animation-name: slidein;
    animation-duration: 0.3s;
    align-items: center;
    background-color: var(--main-font-color);
    color: var(--alternative-font-color);
    margin-bottom: 1rem;
  }

  .img {
    width: 20rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    font-weight: bold;
  }

  .delete {
    padding: 1rem;
    border-radius: 12px;
  }

  .update {
    padding: 1rem;
    border-radius: 12px;
  }

  .items-for {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .list-btn {
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
}

.list {
  display: grid;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background-color);
    padding: 1rem;
    gap: 10px;
    box-shadow: 9px 13px 25px 4px rgba(0, 0, 0, 0.55);
    z-index: 1;
    animation-name: appearing;
    animation-duration: 0.6s;
  }

  .header-btn {
    flex-direction: row;
  }

  .header-section {
    font-size: 1.3rem;
    color: var(--main-font-color);
    display: flex;
    align-items: center;
  }

  .dropdown {
    top: 100%;
    right: 0;
    padding: 1.5rem;
  }

  .inventory-box {
    width: 80%;
  }

  .form-main,
  .list-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/homepage-background.jpg);
    background-size: cover;
    color: var(--alternative-font-color);
  }

  .list {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin-top: 2rem;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    border-radius: 12px;
    background-color: rgba(46, 46, 46, 0.8);
    color: var(--main-font-color);
    width: 80%;
    animation-name: slidein;
    animation-duration: 0.3s;
    align-items: center;
    background-color: var(--main-font-color);
    color: var(--alternative-font-color);
    margin-bottom: 1.5rem;
  }

  .delete,
  .update {
    padding: 1.2rem;
    border-radius: 12px;
  }

  .items-for {
    margin-top: 2rem;
  }

  .list-btn {
    width: 100%;
  }

  .svg {
    width: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 10px;
  }

  .header-section {
    color: var(--main-font-color);
    display: flex;
  }

  .header-btn {
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
  }

  .bottom-line {
    position: relative;
  }

  .bottom-line::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    position: absolute;
    bottom: -2px;
    left: 2px;
    transition: width 0.2s ease-in-out;
  }

  .bottom-line:hover::after {
    width: 100%;
  }

  .dropdown {
    top: 100%;
    right: 0;
    padding: 1.5rem;
  }

  .inventory-box {
    width: 50%;
  }

  .explore:hover {
    background-color: var(--main-font-color);
    color: var(--alternative-font-color);
    transition: 0.5s;
  }

  .form-main,
  .list-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/homepage-background.jpg);
    background-size: cover;
    color: var(--alternative-font-color);
  }

  .list {
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    width: 100%;
    margin-top: 2rem;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
    border-radius: 12px;
    background-color: rgba(46, 46, 46, 0.8);
    color: var(--main-font-color);
    width: 80%;
    animation-name: slidein;
    animation-duration: 0.3s;
    align-items: center;
    background: var(--main-font-color);
    color: var(--alternative-font-color);
    margin-bottom: 1.5rem;
  }

  .delete,
  .update {
    padding: 1.2rem;
    border-radius: 12px;
    transition: color 0.3s ease-in-out;
  }

  .delete:hover {
    background-color: #ef233c;
    transition: 0.3s;
  }

  .update:hover {
    background-color: #00b4d8;
    transition: 0.3s;
  }

  .list-btn:hover {
    background-color: #000000;
    color: var(--main-font-color);
    transition: 0.3s;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.3);
  }

  .author {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 0.8rem;
    color: var(--main-font-color);
  }
}
