html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Roboto", "sans-serif";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --header-background-color: #18181b;
  --button-background-color: #18181b;
  --main-font-color: #ffffff;
  --alternative-font-color: #000000;
  --valid-input-color: #6bc51c;
  --input-border-color: #92dce5;
  --input-background-color: #f5f5f5;
  --submit-button-background-color: #d0d0d0;
  --delete-button-background-color: #c1121f;
  --update-button-background-color: #0077b6;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--header-background-color);
    padding: 0.5rem 0 0.5rem;
    gap: 5px;
    box-shadow: 9px 13px 25px 4px rgba(0, 0, 0, 0.55);
    z-index: 1;
    animation-name: appearing;
    animation-duration: 0.6s;
  }

  @keyframes appearing {
    from {
      opacity: 0.1;
    }

    to {
      opacity: 1;
    }
  }

  .header-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-font-color);
    position: relative;
  }

  .add {
    cursor: pointer;
    position: relative;
  }

  .dropdown {
    position: absolute;
    top: 80px;
    right: 10px;
    display: none;
    background-color: rgba(46, 46, 46, 0.95);
    padding: 1rem;
    border-radius: 12px;
    animation-name: slidein;
    animation-duration: 0.3s;
  }

  @keyframes slidein {
    from {
      transform: translateY(-40px);
      opacity: 0.3;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .dropdown a {
    display: block;
    margin-bottom: 1rem;
    white-space: nowrap;
  }

  .show {
    display: block;
  }

  .svg {
    width: 2rem;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/background.webp);
    background-size: cover;
  }

  .inventory-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba(46, 46, 46, 0.8);
    color: var(--main-font-color);
    width: 90%;
    animation-name: slidein;
    animation-duration: 0.3s;
  }

  .homepage-text {
    padding: 1rem;
  }

  .explore {
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--button-background-color);
    color: var(--main-font-color);
    padding: 0.5rem;
  }

  .form-main,
  .list-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/homepage-background.jpg);
    background-size: cover;
    color: var(--alternative-font-color);
  }

  .list-main {
    background: url(../images/list-background.jpg);
    background-size: cover;
    color: var(--main-font-color);
  }

  .generic-label {
    font-size: 1.5rem;
  }

  .add-generic-form {
    display: flex;
    flex-direction: column;
    background-color: var(--main-font-color);
    padding: 2rem;
    border-radius: 12px;
  }

  .add-input {
    font-size: 1.2rem;
    border: 2px solid var(--input-border-color);
    border-radius: 6px;
    outline: none;
    background-color: var(--input-background-color);
    color: var(--alternative-font-color);
  }

  .add-input:valid {
    border: 2px solid var(--valid-input-color);
  }

  .submit-btn {
    border: 0;
    border-radius: 9px;
    margin-top: 1rem;
    padding: 1.2rem;
    font-size: 1.2rem;
    color: var(--alternative-font-color);
    background-color: var(--submit-button-background-color);
  }

  .select {
    margin-bottom: 1rem;
  }

  .list {
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;

    margin-top: 2rem;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    background-color: rgba(46, 46, 46, 0.8);
    color: var(--main-font-color);
    width: 90%;
    animation-name: slidein;
    animation-duration: 0.3s;
    align-items: center;
    background-color: var(--main-font-color);
    color: var(--alternative-font-color);
    margin-bottom: 1rem;
  }

  .img {
    width: 20rem;
  }

  .heading {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
    font-weight: bold;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    font-weight: bold;
  }

  .delete {
    background-color: var(--delete-button-background-color);
    color: var(--main-font-color);
    padding: 1rem;
    border-radius: 12px;
  }

  .update {
    background-color: var(--update-button-background-color);
    color: var(--main-font-color);
    padding: 1rem;
    border-radius: 12px;
  }

  .errors {
    color: var(--delete-button-background-color);
  }

  .items-for {
    background-color: var(--main-font-color);
    color: var(--alternative-font-color);
    padding: 1.5rem;
    border-radius: 12px;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .list-btn {
    background-color: var(--valid-input-color);
    color: var(--main-font-color);
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    font-weight: bold;
    width: 100%;
  }
}
